.btn-rating {
  height: 37px;
  min-width: 55px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  color: #e75637;
  border-width: 1px 0 1px 1px;

  &:last-child {
    border-right-width: 1px;
  }

  &__selected {
    background-color: #37b4be;
    color: white;
  }
}
